/******************* HEADER *******************/
.navbar{
     background: url(/img/navpic.jpg);
     //height: 60px;
 }
.navbar li{
   padding-left: 30px;
}

.navbar  a{
    color:$white;
    font-family:'Big-John';
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.navbar  a:hover{
    color:$white;
    font-family:'Big-John';
    font-size: 18px;
    transform: scale(1.1);
}

    /*logo*/
.navbar .rolo{
    font-family:'Big-John';
    font-size: 35px;
    color: #800000;
}
.navbar .lux{
    font-family:'Slim-Joe';
    font-size: 35px;
    color: $white;
}
.navbar .ns{
    font-family:'Slim-Joe';
    font-size: 35px;
    color: $white;
}
.dropdown-menu{
    background: url(/img/navpic.jpg);
    color: $white;
}

    /*slider*/
.mainhead .carousel-inner  .box {
    padding-left: 0px;
    padding-right: 0px;
    width:100%;
    height: 590px;
}

.mainhead .carousel-inner .box img {
    width:100%;
    height:100%;

}
.mainhead .carousel-inner .carousel-caption{
    display: block;
    color: $white;
    font-size: 22px;
    font-family:'Amble-Light';
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 7, 0.5);
    position: absolute;
    bottom: 0px;
    left:0px;
}
.mainhead .carousel-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

/******************* HEADER *******************/


/*************SECTION ROLETNE*****************/
.roletne{
    padding-top: 20px;
    background-color:#d9d9d9;
    font-family:'Amble-Regular';
    font-size: 16px;
}
.header-content{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family:'Amble-Bold';
}
.slider1 .carousel-inner  .box {
    padding-left: 0px;
    padding-right: 0px;
    width:100%;
    height: 300px;
}
.slider1{
    //padding-top: 10%;
}
.slider1 .carousel-inner .box img {
    width:100%;
    height:100%;

}
.slider1 .carousel-inner .carousel-caption{
    display: block;
    color: $white;
}

.roletne .text-blok1{
    height:100%;
    padding-top: 20%;
    text-align:justify;
}
.roletne .text-blok2{
    text-align:justify;
}
.roletne .main-ul {
    list-style: none;
}
.roletne .dashed {
    list-style: none;
    padding: 0 0 0 24px
}
.roletne .dashed > li:before {
    content: '-';
    float: left;
    margin-left: -2
}
.roletne .dashed1{
    list-style: none;
    padding: 0 0 0 24px;
    marign-left: 20px;
}
.roletne .dashed1 > li:before {
    content: '-';
    float: left;
    margin-left: -2
}
/*************SECTION ROLETNE*****************/

/*************SECTION KONTAKT*****************/


.contact-details h1{
    text-align: center;
    font-family:'Amble-Bold';
    font-size: 22px;
    padding: 20px;
}
.contact-details h2{
    font-size: 16px;
    text-align: center;
    font-family:'Amble-Bold';
}

.contact-details .adress,.mail,.phone,.fax {
    padding-top: 40px;
}

.contact-details .phone {
    background:url(../img/contact-icons/phone.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.contact-details .mail {
    background:url(../img/contact-icons/a.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.contact-details .adress {
    background:url(../img/contact-icons/maps.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.contact-details .fax {
    background:url(../img/contact-icons/fax.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.map{
    width: 100%;
    height: 350px;
}

.map-box .google-map{
    width: 100%;
    height: 100%;
}
/*************SECTION KONTAKT*****************/

/***************FOOTER*******************/
.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    background:url(/img/navpic.jpg);
}
.footer .nav-footer{
    display: block;
    font-family:'Amble-Bold';
    padding-top: 80px;
}
.footer .nav-footer li{
    display: inline;
    padding-left: 40px;
    list-style-type: none;
 }
.footer .nav-footer li a{
    border-bottom: 2px solid $blue;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: $white;

}

.footer .nav-footer li a:hover{
    color:$blue;
    font-family:'Amble-Bold';
    font-size: 18px;
    border-bottom: 2px solid $white;
    transform: scale(1.1);
}

.footer .contacts{
     color:$white;
     text-align: left;
     padding: 20px;
     font-family:'Amble-Bold';
 }
.footer .contacts li{
    text-decoration: none;
    list-style-type: none;
}

.footer .home i, .footer .fax i, .footer .phone i, .footer .email i{
    padding-right: 10px;
    color: $blue;
}

.footer .social{
    margin: auto;
}

.footer .social img{
    padding: 60px 0 0 95px;
}
/***************FOOTER*******************/