
/******************* COMMON CLASSES *************/
.header-content {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Amble-Bold';
  @include media-breakpoint-down(xs) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1{
  font-family:'Big-John';
  font-size: 30px;
  @include media-breakpoint-down(xs) {
    font-size: 20px;
  }
}
/******************* COMMON CLASSES ***********/

/******************* HEADER *******************/
/*slider*/

.mainhead .carousel-inner  .box {
  padding-left: 0;
  padding-right: 0;
  width:100%;
  height: 590px;
  @include media-breakpoint-down(xs) {
    height:auto;
  }
}

.mainhead .carousel-inner .box img {
    width:100%;
    height:100%;

}
.mainhead .carousel-inner .carousel-caption{
    display: block;
    color: $white;
    font-size: 22px;
    font-family:'Amble-Light';
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 7, 0.5);
    position: absolute;
    bottom: 0px;
    left:0px;
    @include media-breakpoint-down(xs) {
      font-size: 14px;
      height: 60px;
    }
}
.mainhead .carousel-indicators li {
  background-color: $gray-lightest;
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.mainhead .carousel-indicators .active {
  background-color:#800000;
}
  @include media-breakpoint-down(xs) {
    display: none;
  }
.mainhead .carousel-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

/******************* HEADER *******************/


/*************SECTION O NAMA******************/

.o-nama-box {
    padding: 20px;
    background-color: #f5f5f5;
    font-family: 'Amble-Regular';
    font-size: 16px;
}

/*************SECTION O NAMA******************/


/*************SECTION ROLETNE*****************/
.roletne{
    padding: 20px 0 50px 0;
    background-color:#d9d9d9;
    font-family:'Amble-Regular';
    font-size: 16px;
}

.slider1 .carousel-inner  .box {
    padding-left: 0;
    padding-right: 0;
    width:100%;
    height: 300px;
}
.slider1{
    //padding-top: 10%;
}
.slider1 .carousel-inner .box img {
    width:100%;
    height:100%;

}
.slider1 .carousel-inner .carousel-caption{
    display: block;
    color: $white;
}

.roletne .text-blok1{
    height:100%;
    text-align:justify;
}
.roletne .text-blok2{
    text-align:justify;

}
.roletne .main-ul {
    list-style: none;
}

/*************SECTION ROLETNE*****************/

/*************SECTION TENDE*****************/
.tende{
  padding-top: 20px;
  background-color:#f5f5f5;
  font-family:'Amble-Regular';
  font-size: 16px;
}

.slider2 .carousel-inner  .box {
  padding-left: 0;
  padding-right: 0;
  width:100%;
  height: 300px;
}

.slider2{
    padding-top: 10%;
}

.slider2 .carousel-inner .box img {
  width:100%;
  height:100%;

}
.slider2 .carousel-inner .carousel-caption{
  display: block;
  color: $white;
}

.tende .text-blok1{
  height:100%;
  text-align:justify;
}
.tende .text-blok2{
  text-align:justify;
}
.tende ul {
  list-style-type: disc;
}

/*************SECTION TENDE ****************/

/*************SECTION VENECIJANERI*****************/
.venecijaneri{
  padding-top: 20px;
  background-color:#d9d9d9;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom: 3%;
}

.venecijaneri .slider2 .carousel-inner  .box {
  padding-left: 0;
  padding-right: 0;
  width:100%;
  height: 300px;
}

.venecijaneri .slider2{
  padding-top:6%;
}

.venecijaneri .slider2 .carousel-inner .box img {
  width:100%;
  height:100%;

}
.venecijaneri .slider2 .carousel-inner .carousel-caption{
  display: block;
  color: $white;
}

.venecijaneri .text-blok1{
  height:100%;
  text-align:justify;
}
.venecijaneri .text-blok2{
  text-align:justify;
}
/*************SECTION VENECIJANERI ****************/

/*************SECTION ROLO ZAVESE****************/
.rolozavese{
  padding-top: 20px;
  background-color:#f5f5f5;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom: 3%;
}

.rolozavese .carousel-inner{
  margin-top: 80px;
  padding-bottom: 120px;
}
.rolozavese .carousel-indicators li {
  background-color: $gray;
}
.rolozavese .carousel-indicators .active {
  background-color:#800000;
}

.rolozavese .carousel-inner  .carousel-item  .box {
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  border: 1px solid $black;
}
/*************SECTION ROLO ZAVESE****************/

/*************SECTION TRAKASTE ZAVESE ****************/
.trakaste{
  padding-top: 20px;
  background-color:#d9d9d9;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom: 15%;
}

.trakaste .slider2 .carousel-inner  .box {
  padding-left: 0;
  padding-right: 0;
  width:100%;
  height: 300px;
}

.trakaste .slider2{
  padding-top:3%;
}

.trakaste .slider2 .carousel-inner .box img {
  width:100%;
  height:100%;

}
.trakaste .slider2 .carousel-inner .carousel-caption{
  display: block;
  color: $white;
}

.trakaste .text-block1{
  text-align:justify;
  margin-top: 15%;
}
/*************SECTION TRAKASTE ZAVESE****************/

/*************SECTION KOMARNICI****************/

.komarnici{
  padding-top: 20px;
  background-color:#f5f5f5;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom: 10%;
}

.komarnici .galerija{
  margin-top: 90px;
  margin-bottom: 110px;
}
/*************SECTION KOMARNICI****************/

/*************SECTION DIHTOVANJE*****************/
.dihtovanje{
  padding-top: 20px;
  background-color:#d9d9d9;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom:15%;
}

.dihtovanje .slider2 .carousel-inner  .box {
  padding-left: 0;
  padding-right: 0;
  width:100%;
  height: 300px;
}

.dihtovanje .slider2{
  padding-top:3%;
}

.dihtovanje .slider2 .carousel-inner .box img {
  width:100%;
  height:100%;

}
.dihtovanje .slider2 .carousel-inner .carousel-caption{
  display: block;
  color: $white;
}

.dihtovanje .text-blok1{
  height:100%;
  text-align:justify;
  padding-top: 8%;
}

/*************SECTION DIHTOVANJE****************/

/*************SECTION SERVISIRANJE**************/

.servisiranje{
  padding-top: 20px;
  background-color:#f5f5f5;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom: 10%;
}

.servisiranje .text-blok2{
  text-align:justify;
}
/*************SECTION SERVISIRANJE****************/


/*************SECTION ADAPTACIJA***************/

.adaptacija{
  padding-top: 20px;
  background-color:#d9d9d9;
  font-family:'Amble-Regular';
  font-size: 16px;
  padding-bottom: 10%;
}

.galerija{
  margin: auto;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 15%;
}

.slike {
  display:inline-block;
  width: 30%;
  margin:auto auto 1% 2%;
}

.slike img{
  width: 100%;
}
/*************SECTION ADAPTACIJA**************/

/*************SECTION KONTAKT*****************/


.contact-details{
  padding:20px;
}

.contact-details h1{
    text-align: center;
    font-family:'Amble-Bold';
    font-size: 22px;
}
.contact-details h2{
    font-size: 16px;
    text-align: center;
    font-family:'Amble-Bold';
}

.contact-map{
  padding: 10px;
}

.contact-details .adress,.mail,.phone,.fax {
    padding-top: 40px;
}

.contact-details .phone {
    background:url(/img/contact-icons/phone.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.contact-details .mail {
    background:url(/img/contact-icons/a.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.contact-details .adress {
    background:url(/img/contact-icons/maps.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

.contact-details .fax {
    background:url(/img/contact-icons/fax.png) center top/36px 36px no-repeat rgba(0,0,0,0)
}

#map {
  width: 100%;
  height: 350px;
  margin-top: 20px;
}


/*************SECTION KONTAKT*****************/

/***************FOOTER*******************/
.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    background:url(/img/navpic.jpg);
}
.footer .nav-footer{
    display: block;
    font-family:'Amble-Bold';
    padding-top: 80px;
}
.footer .nav-footer li{
    display: inline;
    padding-left: 40px;
    list-style-type: none;
 }
.footer .nav-footer li a{
    border-bottom: 2px solid $blue;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: $white;

}

.footer .nav-footer li a:hover{
    color:$blue;
    font-family:'Amble-Bold';
    font-size: 18px;
    border-bottom: 2px solid $white;
    transform: scale(1.1);
}

.footer .contacts{
     color:$white;
     text-align: left;
     padding: 20px;
     font-family:'Amble-Bold';
 }
.footer .contacts li{
    text-decoration: none;
    list-style-type: none;
}

.footer .home i, .footer .fax i, .footer .phone i, .footer .email i{
    padding-right: 10px;
    color: $blue;
}

.footer .social{
    margin: auto;
}

.footer .social img{
    padding: 60px 0 0 95px;
}

.footer .author{
  color: $white;
}

.author p{
  text-align: center;
}

.author a{
  text-decoration: none;
}
/***************FOOTER*******************/