body{
  background: url(/img/bodyBG.jpg);
  padding-top: 75px;
}
.row-content{
  padding-left: 3%;
  padding-right: 3%;
}
@import "variables";
@import "bootstrap";
@import "layout";
@import "fonts";
@import "navbar";