body{
  background: url(/img/bodyBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.row-content{
  padding-left: 3%;
  padding-right: 3%;
}
@import "variables";
@import "bootstrap";
@import "layout";
@import "fonts";
@import "navbar";